/* General page styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* padding: 0;
  margin: 0; */
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.heading {
  color: blue;
  margin: 20px 0;
}

/* Styles for calculator */
.outline {
  margin: auto;
  border: 2px solid goldenrod;
  height: 550px;
  width: 360px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 5px lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: gray;
}

.display {
  border: 2px solid goldenrod;
  height: 140px;
  padding: 8px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.live-display {
  /* border: 1px solid red; */
  border-radius: 5px;
  /* height: 100%; */
  /* width: 100%; */
}

.live-display.big {
  font-size: 46px;
  overflow: auto;
  word-break: break-all;
}

/* overall dimension for big container key boxes */
.numpad {
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid red; */
  justify-content: space-between;
  align-items: center;
  /* justify-content: space-around; */
  /* gap: 5px; */
}

.numpad .key {
  width: 70px;
  border: 1px solid goldenrod;
  height: 55px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  user-select: none;
  font-size: 24px;
  color: darkgoldenrod;
}

.numpad .key:hover {
  background-color: rgb(250, 250, 196);
  cursor: pointer;
  /* color: white; */
}

.numpad .key:active {
  background-color: rgb(246, 238, 227);
}

.numpad #delete, .numpad #clear {
  width: 150px;
  height: 70px;
}

.numpad #delete {
  margin-left: auto;
}












